
<div class="container">
    <div class="card card-background">
        <a  class="back mt-3" [routerLink]="['/bookdirectory/search']">
            <i class="fa-sharp fa-solid fa-arrow-left" data-bs-toggle="tooltip" data-bs-placement="top" title="Back"></i>
        </a>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img  [src]="book.cover_i | cover " class="img-fluid cover" [alt]="img">
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col">
                            An Edition of <a style="cursor: pointer;" [href]="book.key | bookOverview" target="_blank">{{ book.title }}</a><span> ({{book.first_publish_year}})</span>
                        </div>
                    </div>
                        <h1>{{ book.title }}</h1>
                        <div class="row mt-3">
                            <div class="col" >
                                By <a style="max-width: 540px;cursor: pointer;padding-right: 5px;" [href]="book.key | bookOverview" target="_blank" *ngFor="let author of book.author_name">{{author}}</a>
                            </div>
                        </div>
                    <div class="row details">
                        <div class="col-2 text-center">
                            <strong>Publish Date</strong><br><p >{{book.first_publish_year}}</p>
                        </div>
                        <div class="col-2 text-center">
                            <strong>Edition</strong><br><p >{{book.edition_count}}</p>
                        </div>
                        <div class="col-2 text-center">
                            <strong>Pages</strong><br><p >{{book.number_of_pages_median}}</p>
                        </div>
                        <div class="col-6 text-center">
                            <strong>Publisher</strong><br><p >{{book.publisher | slice:0:3}}</p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <strong>First Sentence</strong> <i class="fa-sharp fa-solid fa-caret-right"></i> {{book.first_sentence}}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <small><strong>Subject</strong> <i class="fa-sharp fa-solid fa-caret-right"></i> {{book.subject | subject}}</small>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <small><strong>People</strong> <i class="fa-sharp fa-solid fa-caret-right"></i> {{book.person}}</small>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <small><strong>Place</strong> <i class="fa-sharp fa-solid fa-caret-right"></i> {{book.place}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
